body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 80px auto;
  grid-template-areas:
  "navbar"
  "container";
}

.navbar {
  grid-area: navbar;
  height: 80px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #1B1A21;
  opacity: 0.88;
  display: grid;
  grid-template-columns: 183.72px 840.28px;
  grid-template-rows: auto;
  grid-template-areas:
  "logo div";
}

.navbar .logo {
  grid-area: logo;
  padding: 29.25px 24px 29.25px 24px;
}

.navbar .nav-div{
  grid-area: div
}

.container{
  padding-left: 312px;
  padding-right: 312px;
  grid-area: container;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "circle"
  "b-demo"
  "p"
  "form";
}

.elipse-wrapper{
  text-align: center;
  grid-area: circle;
  width: 120px;
  height: 120px;
}
.ellipse4{
  margin-top: 80px;
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #F9EDFF;
  text-align: center;
}

.ellipse4 i{
  position: relative;
  vertical-align: middle;
  background: linear-gradient(180deg, #AA00FF 0%, #00A3D7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 27px;
  padding-bottom: 29px;
}

.book-demo{
  grid-area: b-demo;

}

h2{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}

.meta-txt{
  grid-area: p;
  color: #777582;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
}

.my-form{
  text-align: center;
  grid-area: form;
}

.e-lbl{
  grid-area: email-lbl;
  font-size: 13px;
}

#b-email{
  background: #F3F3F5;
  border-radius: 4px;
  border: none;
  grid-area: email;
  height: 32px;
  width: 400px;
  text-indent: 10px;
}

#b-email:focus {
  background-color: #FFFFFF;
  outline: none;
  border: 1px solid #C550FF;
  border-radius: 4px;
}

.s-lbl{
  font-size: 13px;
}

.s-select{
  height: 32px;
  width: 400px;
  box-shadow: none;
  cursor: pointer;
}

.rd-label{
  font-size: 13px;
}

.rd-group{
  text-align:justify;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "rd1 rd2"
  "rd3 rd4"
  "rd5 rd6"
  "rd7 rd8";
}

.rd-group input {
  cursor: pointer;
}

.rd-container {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.rd-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-radio {
  position: absolute;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0px;
  top: 0px;
  background-color: transparent;
  border: 1px solid #777582;
  border-radius: 64px;
}

.rd-container input:checked ~ .custom-radio {
  background-color: #8800CC;
}

.custom-radio:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .custom-radio:after {
  display: block;
}

.rd-container .custom-radio:after {
  width: 6px;
  height: 6px;
  left: 5px;
  top: 5px;
  border-radius: 64px;
  background: #FFFFFF;
}

.rd1{
  grid-area: rd1;
}
.rd2{
  grid-area: rd2;
}
.rd3{
  grid-area: rd3;
}
.rd4{
  grid-area: rd4;
}
.rd5{
  grid-area: rd5;
}
.rd6{
  grid-area: rd6;
}
.rd7{
  grid-area: rd7;
}
.rd8{
  grid-area: rd8;
}

.btn-div{
  grid-area: button;
}

button{
  background: #8800CC;
  border-radius: 4px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

button:hover,button:focus{
  background-color: #AA00FF;
  /* border: none; */
}

button:focus, select:focus{
  outline: none;
}


select{
  background: #F3F3F5;
  border: none;
  border-radius: 4px;
}
