body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 80px auto;
  grid-template-areas:
  "navbar"
  "container";
}

.navbar {
  grid-area: navbar;
  /* position: absolute; */
  height: 80px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #1B1A21;
  opacity: 0.88;
  display: grid;
  grid-template-columns: 183.72px 840.28px;
  grid-template-rows: auto;
  grid-template-areas:
  "logo div";
}

.navbar .logo {
  grid-area: logo;
  padding: 29.25px 24px 29.25px 24px;
}

.navbar .nav-div{
  grid-area: div
}

.container{
  grid-area: container;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "circle"
  "b-demo"
  "p"
  "form";
}

.elipse-wrapper{
  text-align: center;
  grid-area: circle;
  width: 120px;
  height: 120px;
}
.ellipse4{
  /* position: absolute; */
  margin-top: 80px;
  display: inline-block;
  width: 120px;
  height: 120px;
  /* left: 452px; */
  /* top: 160px; */
  border-radius: 50%;
  background: #F9EDFF;
  text-align: center;
}

.ellipse4 i{
  position: relative;
  vertical-align: middle;
  background: linear-gradient(180deg, #AA00FF 0%, #00A3D7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 27px;
  padding-bottom: 29px;
}

.book-demo{
  grid-area: b-demo;

}

h2{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
/* identical to box height, or 124% */
  text-align: center;
}

.my-form{
  grid-area: form;
}

.b-email{
  /* position: absolute; */
  background: #F3F3F5;
  border-radius: 4px;
  border: none;
}

.meta-txt{
  grid-area: p;
}

.e-lbl{
  grid-area: email-lbl;
}

.b-email{
  grid-area: email;
}

.s-lbl{
  grid-area: size-lbl;
}

.s-select{
  grid-area: select;
}

.rd-lbl{
  grid-area: radio-lbl;
}

.btn-div{
  grid-area: button;
}

button{

  /* background: #8800CC;
  border-radius: 4px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF; */
}

p{
  /* position: absolute;
  width: 400px;
  height: 52px;
  left: 312px;
  top: 373px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px; */
  /* or 162% */
  /* text-align: center; */
  /* Neutral/700 */
  /* color: #777582; */
}


select{
  background: #F3F3F5;
  border: none;
  border-radius: 4px;
}
